<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" fullscreen>

    <div class="hustlerimg" [style.background]="getLink()">
        <div class="hustlerinfo">
            <div class="hustlername">Lucy Lee</div>
            <div class="hustlerskill">Photographer</div>
            <div class="hustlerrating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </div>

        </div>

        <div class="floaterbuttons">
            <div class="hireme" (click)="triggerPayModes()">
                <ion-icon name="person-add"></ion-icon>&nbsp; &nbsp;HIRE ME</div>
            <div class="stats">
                <nav>
                    <ul>
                        <li class="nze">About</li>
                        <li class="nze">Employers</li>
                        <li class="nze">Reviews</li>
                        <li class="nze">Jobs Done</li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>

    <div class="fullbio">
        <div [ngSwitch]="currentSelection">
            <div *ngSwitchCase="'About'">
                <ion-card>
                    <ion-card-content>

                        <div class="text-wrapper">
                            <h4>Sharing my experience as as Photographer</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis recusandae magnam ipsum, et quia laborum voluptates culpa sit quasi fugit vero asperiores obcaecati maxime maiores ad optio quidem quae suscipit! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Reprehenderit corporis velit culpa omnis rerum necessitatibus architecto alias molestiae dolores debitis ipsum itaque atque hic suscipit magnam, aut, at excepturi repellendus! Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Aut, distinctio ea iste iure itaque quas libero officia numquam quibusdam beatae sequi ex, quasi, illo ad esse? Pariatur labore commodi eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                            repellat facilis amet aperiam nemo deleniti natus adipisci suscipit quibusdam, distinctio id temporibus voluptatem ad. Ratione eligendi officiis quam iusto consectetur! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Debitis odit eum, vero quisquam alias reiciendis explicabo qui tempora laudantium iste nulla adipisci harum veniam nobis, suscipit ipsum possimus iusto magni. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
                            quaerat consectetur, possimus amet dicta et ratione debitis fugit at magnam fuga ipsa sit ad totam quas laboriosam facilis alias. Deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptas architecto sunt!
                            Molestiae consectetur maxime error hic soluta consequuntur qui suscipit voluptates nostrum fuga ad, et modi repellat accusantium iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae unde quae tempore obcaecati
                            debitis quaerat hic soluta animi consectetur voluptatibus, id molestiae, quasi ab doloribus, sapiente inventore deserunt. Atque, praesentium.
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
            <div *ngSwitchCase="'Employers'">
                <h4>Employers</h4>

            </div>
            <div *ngSwitchCase="'Reviews'">
                <h4>Reviews</h4>

            </div>
            <div *ngSwitchCase="'Jobs Done'">
                <h4>Jobs Done</h4>

            </div>
        </div>
    </div>



</ion-content>
<ion-footer class="customfooter">
    <div class="customtabs">
        <div>
            <ion-icon name="home"></ion-icon>
        </div>
        <div>
            <ion-icon name="contacts"></ion-icon>
        </div>
        <div>
            <ion-icon name="chatbubbles"></ion-icon>
        </div>
        <div>
            <ion-icon name="settings"></ion-icon>
        </div>
    </div>

</ion-footer>