<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Available Hustlers</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>

        <ion-card-content>


            <ion-list>
                <ion-item mode="ios" lines="none" [routerLink]="['/hustlerbio']">
                    <ion-avatar slot="start">
                        <ion-img src="../../assets/img/deno.jpg"></ion-img>
                    </ion-avatar>

                    <ion-text>
                        <ion-label>
                            <h2>Deno</h2>
                        </ion-label>
                        <div class="hratings">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </div>
                        <div class="trivinfo">Bsc. Civil Eng.</div>
                        <div class="trivinfo">Makerere University</div>
                    </ion-text>


                </ion-item>

            </ion-list>
            <ion-list>
                <ion-item mode="ios" lines="none" [routerLink]="['/hustlerbio']">
                    <ion-avatar slot="start">
                        <ion-img src="../../assets/img/deno.jpg"></ion-img>
                    </ion-avatar>

                    <ion-text>
                        <ion-label>
                            <h2>Deno</h2>
                        </ion-label>
                        <div class="hratings">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </div>
                        <div class="trivinfo">Bsc. Civil Eng.</div>
                        <div class="trivinfo">Makerere University</div>
                    </ion-text>


                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>


</ion-content>