.hirebtn {
    border-radius: 20px;
    border: solid 1px #3880ff;
    background: transparent;
    color: #3880ff;
    padding: 8px 25px;
    margin: 0 10px;
}

ion-icon {
    font-size: 23px;
    color: rgb(201, 201, 201)
}